:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --veryLightGrayishBlue: hsl(210, 60%, 98%);
  --lightGrayishBlue1: hsl(211, 68%, 94%);
  --lightGrayishBlue2: hsl(205, 33%, 90%);
  --grayishBlue: hsl(219, 14%, 63%);
  --darkGrayishBlue: hsl(219, 12%, 42%);
  --veryDarkBlue: hsl(224, 21%, 14%);
}

body, html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  line-height: 1.1;
  font-family: "Plus Jakarta Sans", sans-serif;
}

main, .container {
  width: 100%;
  overflow-x: hidden;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
}

.attribution a {
  color: hsl(0, 0%, 0%);
}

button {
  cursor: pointer;
}

body {
  background-color: var(--veryLightGrayishBlue);
  position: relative;
  min-height: 100vh;
}
@media (min-width: 63.975em) and (max-width: 1000000000000000000em) {
  body {
    display: flex;
    align-items: center;
    padding-block: 1.5rem;
  }
}

.container {
  background-color: var(--white);
  padding: 1.5rem 4%;
}
@media (min-width: 63.975em) and (max-width: 1000000000000000000em) {
  .container {
    width: 48%;
    margin-inline: auto;
    padding: 1.5rem 1.5% 0.1rem 1.5%;
    border-radius: 0.7rem;
    box-shadow: 0.2rem 0.2rem 4rem rgba(231, 225, 225, 0.5);
  }
}

header {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
header .col1 {
  display: flex;
  align-items: center;
  gap: 5%;
}
header .col1 h1 {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--veryDarkBlue);
}
header .col1 .not-value {
  font-weight: 500;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 5.5px;
  padding: 0.25rem 0.7rem;
}
header .mark {
  background-color: inherit;
  border: none;
  font-size: 1rem;
  color: var(--veryDarkBlue);
}
header .mark:hover {
  color: var(--blue);
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
@media (min-width: 63.975em) and (max-width: 1000000000000000000em) {
  main {
    gap: 0.4rem;
  }
}

.notification {
  display: flex;
  align-items: flex-start;
  gap: 5%;
  padding: 1rem 5%;
  border-radius: 7px;
  border: none;
  text-align: left;
  background-color: inherit;
}
.notification a {
  text-decoration: none;
}
.notification .prifile-pic {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}
.notification .content .info {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 0.15rem;
}
.notification .content .info .name {
  font-weight: 800;
  color: var(--veryDarkBlue);
}
.notification .content .info .name:hover {
  color: var(--blue);
}
.notification .content .info .action {
  color: var(--darkGrayishBlue);
}
.notification .content .info .subject {
  font-weight: 600;
  color: var(--darkGrayishBlue);
}
.notification .content .info .badge {
  background-color: var(--red);
  width: 4px;
  line-height: 4px;
  padding: 4px;
  font-size: 0.1px;
  border-radius: 50%;
  margin-left: 2.5%;
  vertical-align: middle;
}
.notification .content .info .group {
  font-weight: 800;
  color: var(--blue);
}
.notification .content .info .group:hover {
  color: var(--darkGrayishBlue);
}
.notification .content .time {
  color: var(--grayishBlue);
  font-size: 0.9rem;
}

.unread {
  background-color: var(--veryLightGrayishBlue);
}

.message {
  padding: 0.9rem;
  border: 1px solid var(--darkGrayishBlue);
  border-radius: 7px;
  font-size: 0.9rem;
  line-height: 1.35;
  margin-top: 0.8rem;
  color: var(--darkGrayishBlue);
}
.message:hover {
  background-color: var(--lightGrayishBlue2);
  border-color: rgba(0, 0, 0, 0);
}

.comment-pic {
  margin-left: auto;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.5rem;
}
.comment-pic:hover {
  outline: 2px solid var(--lightGrayishBlue2);
}
.comment-pic img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.5rem;
}/*# sourceMappingURL=styles.css.map */
