@use "breakpoints" as p;

body {
    background-color: var(--veryLightGrayishBlue);
    position: relative;
    min-height: 100vh;

    @include p.break(tablet, infinity) {
        display: flex;
        align-items: center;
        padding-block: 1.5rem;
    }
}

.container {
    background-color: var(--white);
    padding: 1.5rem 4%;
    @include p.break(tablet, infinity) {
        width: 48%;
        margin-inline: auto;
        padding: 1.5rem 1.5% 0.1rem 1.5%;
        border-radius: 0.7rem;
        box-shadow: 0.2rem 0.2rem 4rem rgba(231, 225, 225, 0.5);
    }
}

header {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

    & .col1 {
        display: flex;
        align-items: center;
        gap: 5%;

        & h1 {
            font-size: 1.2rem;
            font-weight: 800;
            color: var(--veryDarkBlue);
        }

        & .not-value {
            font-weight: 500;
            color: var(--white);
            background-color: var(--blue);
            border-radius: 5.5px;
            padding: 0.25rem 0.7rem;
            //min-height: 2rem;
        }

    }

    & .mark {
        background-color: inherit;
        border: none;
        font-size: 1rem;
        color: var(--veryDarkBlue);

        &:hover {
            color: var(--blue);
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    @include p.break(tablet, infinity) {
        gap: 0.4rem;
    }
}



.notification {
    display: flex;
    align-items: flex-start;
    gap: 5%;
    padding: 1rem 5%;
    border-radius: 7px;
    border: none;
    text-align: left;
    background-color: inherit;

    & a {
        text-decoration: none;
    }

    .prifile-pic {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
    }
    .content {
        .info {
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1.3;
            margin-bottom: 0.15rem;

            .name {
                //font-size: 1rem;
                font-weight: 800;
                color: var(--veryDarkBlue);

                &:hover {
                    color: var(--blue);
                }
            }
            .action {
                color: var(--darkGrayishBlue);
            }
            .subject {
                font-weight: 600;
                color: var(--darkGrayishBlue);
            }
            .badge {
                background-color: var(--red);
                width: 4px;
                line-height: 4px;
                padding: 4px;
                font-size: 0.1px;
                border-radius: 50%;
                margin-left: 2.5%;
                vertical-align: middle;

            }
            .group {
                font-weight: 800;
                color: var(--blue);

                &:hover {
                    color: var(--darkGrayishBlue);
                }
            }

            
        }
        .time {
            color: var(--grayishBlue);
            font-size: 0.9rem;
        }

        
    }
}

.unread {
    background-color: var(--veryLightGrayishBlue);
}
.message {
    padding: 0.9rem;
    border: 1px solid var(--darkGrayishBlue);
    border-radius: 7px;
    font-size: 0.9rem;
    line-height: 1.35;
    margin-top: 0.8rem;
    color: var(--darkGrayishBlue);

    &:hover {
        background-color: var(--lightGrayishBlue2);
        border-color: rgba(0, 0, 0, 0);
    }
}
.comment-pic {
    margin-left: auto;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.5rem;

    &:hover {
        outline: 2px solid var(--lightGrayishBlue2);
    }

    & img {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 0.5rem;
    }
}